<ion-content [fullscreen]="true">
  <!--Imagens no cabeçalho-->
  <div class="menu">
    <img src="assets/icon/menu (1) 1.png" />
  </div>
  <div class="logo2-nike">
    <img src="assets/icon/nike-logo2.png" />
  </div>
  <div class="foto-user">
    <img src="assets/icon/foto-nike2.png" />
  </div>

  <!--Quadrados-->
  <div class="quad1"></div>
  <div class="quad2"></div>
  <div class="quad3"></div>

  <!--Tênis-->
  <div class="shoes1">
    <div class="shoes1-section">
      <img src="assets/icon/tenis1-nike2.png" />
    </div>
  </div>
  <div class="shoes2">
    <div class="shoes2-section">
      <img src="assets/icon/tenis2-nike2.png" />
    </div>
  </div>
  <div class="shoes3">
    <div class="shoes3-section">
      <ion-img src="assets/icon/tenis3-nike2.png"></ion-img>
    </div>
  </div>

  <div class="tenis-principal">
    <img src="assets/icon/principal-tenis.png" />
  </div>

  <!--Textos-->
  <div class="section-titulo">
    <h2 id="titulo-principal">KYRIE INFINITY</h2>
  </div>
  <div class="section-subtitulo">
    <h3 id="subtitulo">Calçados para Basquete</h3>
  </div>
  <div class="section-descricao">
    <p id="descricao">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae
      porta ante. Suspendisse a massa vitae justo lacinia accumsan.
    </p>
  </div>
  <div class="container-preco">
    <p id="preco">Preço</p>
  </div>
  <div class="container-valor">
    <h2 id="valor">$ 799</h2>
  </div>

  <!--Circulos do rodapé-->
  <div class="p-circulo"></div>
  <div class="s-circulo"></div>
  <div class="t-circulo-pequeno"></div>
  <div class="p-elipse"></div>
  <div class="s-elipse"></div>

  <div class="sobe">
    <img src="assets/icon/sobe.png" />
  </div>

  <div class="bag">
    <img src="assets/icon/bag.png" />
  </div>
</ion-content>
